/* Font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&family=Volkhov:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body,
input {
  font-family: "Poppins", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Volkhov", serif;
}
p {
  margin: 10px 0;
  color: #5e6282;
  font-weight: 500;
}
img {
  width: 100%;
}
section {
  padding: 40px 0;
}
.button-outline {
  border-radius: 6px;
  padding: 10px 20px;
  border: 1px solid #5e6282;
}
.button-primary {
  border-radius: 10px;
  color: white;
  text-decoration: none;
  display: block;
  background-color: #f1a501;
  width: fit-content;
  padding: 19px 27px;
}
.highlight {
  position: relative;
}
.highlight::after {
  content: url("assets/h2-underline.png");
  width: 90%;
  position: absolute;
  left: 0;
  top: 23%;
  z-index: -1;
}

.container {
  max-width: 1160px;
  margin: auto;
}

/* Navbar */
.navbar {
  color: #212832;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px 0;
}
.nav-logo {
  min-width: 100px;
}
.nav-menu {
  list-style: none;
  display: flex;
  align-items: center;
}
.nav-menu .menu-item {
  cursor: pointer;
  margin: 0 6px;
  padding: 6px 16px;
}
.section-intro {
  text-align: center;
}
.section-intro p {
  font-size: 18px;
  font-weight: 700;
}
.section-intro h2 {
  font-size: 50px;
  color: #14183e;
  margin-bottom: 24px;
}

/* Hero section */
.hero-bg {
  background-image: url("assets/Decore.svg");
  background-position: top right;
  background-repeat: no-repeat;
  background-size: 600px 600px;
}
.hero-section {
  display: flex;
  align-items: center;
}
.intro-text {
  max-width: 50%;
}
.intro-text h1 {
  color: #181e4b;
  letter-spacing: -4%;
  line-height: 1;
  font-size: 84px;
}
.intro-text p {
  line-height: 2;
}

/* Caterogy section */
.decoration-bg {
  background-image: url("assets/bg-decor-1.png");
  background-position: 100% 30%;
  background-repeat: no-repeat;
}
.category-section {
  text-align: center;
}
.categories {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.single-category {
  cursor: pointer;
  padding: 45px;
  margin: 16px 10px;
  border-radius: 36px;
  width: 250px;
  box-shadow: 0 30px 80px rgba(0, 0, 0, 0.02);
  transition: all ease-in-out 0.5s;
}
.single-category:hover {
  box-shadow: 0 100px 80px rgba(0, 0, 0, 0.1);
}
.single-category .title {
  font-weight: 600;
}
.single-category img {
  width: 100px;
  height: 100px;
}

/* Destinations */
.destinations {
  display: flex;
}
.single-destination {
  margin: 10px 10px;
  border-radius: 24px;
  box-shadow: 0 100px 80px rgba(0, 0, 0, 0.06);
  overflow: hidden;
}
.single-destination p {
  padding: 0 16px 10px;
}
.single-destination img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

/* brands */

.brands {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

/* Subscribe Section */
.subscribe-section {
  background-image: url("assets/bg-decor-1.png");
  background-repeat: no-repeat;
  background-position: 100% 100%;
  text-align: center;
}
.subscribe-section .container {
  padding: 80px;
  border-radius: 20px;
  background: #dfd7f9 url("assets/subscribe-decor-left.png") no-repeat bottom
    left;
}
.subscribe-section h2 {
  font-family: "Poppins";
  width: 70%;
  margin: auto;
}
.subscribe-section input {
  padding: 15px 30px;
  border-radius: 6px;
  border: none;
  outline: none;
}
.input-group input {
  margin-top: 10px;
  display: inline-block;
}

/* Footer */
.footer-content {
  padding: 40px 0;
  display: flex;
  justify-content: space-evenly;
}
footer > p {
  text-align: center;
  padding-bottom: 16px;
}

/* Laptop Large */
@media screen and (max-width: 1440px) {
  .container {
    width: 80%;
  }
}

/* For Tablet */
@media only screen and (max-width: 1024px) {
  .container {
    width: 90%;
    margin: auto;
  }
  .hero-section {
    flex-direction: column-reverse;
    margin-bottom: 50px;
  }
  .intro-text {
    max-width: 100%;
  }
  .destinations {
    justify-content: center;
    flex-wrap: wrap;
  }
  .single-destination {
    min-width: 400px;
  }
  .subscribe-section input {
    margin: 20px auto 0;
  }
}

/* For Mobile Devices */
@media only screen and (max-width: 600px) {
  .navbar ul {
    display: none;
  }
  .container {
    width: 90%;
    margin: auto;
  }
  .hero-section {
    flex-direction: column-reverse;
    margin-bottom: 50px;
  }
  .intro-text {
    max-width: 100%;
  }
  .single-destination {
    min-width: 100%;
  }
  .subscribe-section .container {
    padding: 35px;
  }
  .subscribe-section h2 {
    width: 100%;
  }

  .footer-content {
    flex-direction: column;
    text-align: center;
  }
  .footer-content .logo {
    max-width: 150px;
    margin: auto;
  }
}

@media screen and (max-width: 866px) {
  .navbar ul {
    display: none;
  }
}
